[Unit]
Description=system statistics collector

[Service]
User=diamond
ExecStart=/usr/bin/diamond --foreground --skip-fork --skip-pidfile --log-stdout

[Install]
WantedBy=multi-user.target
