#!/usr/bin/make -f

export PYBUILD_NAME=diamond
%:
	dh $@ --with python2 --with systemd --buildsystem python_distutils

override_dh_auto_test:
	dh_auto_test
	find src/collectors -type f -iname '*.pyc' -delete

override_dh_auto_install:
	# override version detection, esp. when building from git
	dpkg-parsechangelog  -SVersion | cut -d- -f1 > version.txt
	dh_auto_install
	rm debian/tmp/etc/diamond/diamond.conf.example.windows
	chmod a-x debian/tmp/usr/share/diamond/collectors/elasticsearch/elasticsearch.py
	chmod a-x debian/tmp/usr/share/diamond/collectors/mountstats/mountstats.py
	rm -rf debian/tmp/var
	rm -rf debian/tmp/usr/share/diamond/version.txt

override_dh_installdocs:
	dh_installdocs
	rm debian/diamond/usr/share/diamond/LICENSE
	mv debian/diamond/usr/share/diamond/README.md debian/diamond/usr/share/doc/diamond/

override_dh_installinit:
	dh_installinit --name diamond

override_dh_systemd_enable:
	dh_systemd_enable --name diamond

override_dh_clean:
	-rm src/diamond/version.py version.txt
	dh_clean
